
body {
    font-family: Arial;
    background-color: mintcream;
}
h1{
    font-size: 36px;
}
h2 {
    font-size: 28px;
}
span{
    font-size: 20px;
    color: gray;
}
img{
    width: 200px;
    height: 250px ;
}

section, header{
    padding: 10px 60px 20px 60px;
}