
body {
    font-family: Arial;
    background-color: linen;
    padding: 40px 0 40px 0;
}
h1{
    font-size: 36px;
}
h2 {
    font-size: 28px;
}
.hobby{
    list-style: none;
    padding: 0;
    display: flex;
}
span{
    font-size: 20px;
    color: gray;
    font-weight: bold;
    font-style: italic;
}
img{
    width: 200px;
    height: 250px ;
}
section, header{
    padding: 10px 60px 10px 60px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: mintcream;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    list-style: none;
}
header img{
    border-radius: 54px;
}
.icon{
    width: 30px;
    height: 30px;
    padding: 8px;
    vertical-align: middle;
    border-radius: 0;
}
.ch{
    width: 50%;
    text-align: center;
}
h3 .icon{
    margin-left: 30px;
}
p{
    line-height: 1.5;
}